<h2>Comment est <<= hill.name>> aujourd'hui ?</h2>
<form action="/hills/<<= hill.name>>/comment" method="post">
	<h3>Commentaire</h3>
	<textarea name="content" spellcheck="true"></textarea>
	
	<h3><label for="mark">Note</label></h3>
	<select name="mark" id="mark">
		<option value="4">Génial !</option> <!-- TODO: these should be generated from config + lang files -->
		<option value="3">Bien</option>
		<option value="2" selected="selected">Standard</option>
		<option value="1">Bof</option>
		<option value="0">Nul</option>
	</select>

	<h3>Type de neige</h3>
	<ul>
		<li>
			<input type="checkbox" name="rocailleuse" id="rocailleuse"></input>
			<label for="rocailleuse">rocailleuse</label>
		</li>
		<li>
			<input type="checkbox" name="poudreuse" id="poudreuse"></input>
			<label for="poudreuse">poudreuse</label>
		</li>
		<li>
			<input type="checkbox" name="artificielle" id="artificielle"></input>
			<label for="artificielle">artificielle</label>
		</li>
		<li>
			<input type="checkbox" name="dure" id="dure"></input>
			<label for="dure">dure</label>
		</li>
		<li>
			<input type="checkbox" name="soupe" id="soupe"></input>
			<label for="soupe">soupe</label>
		</li>
	</ul>
	
	<input type="submit" value="Envoyer" />
</form>

<p><a href='/'>Retour à l'accueil</a></p>