<article class="hill">
	<h2><<= hill.name >></h2>
	<span class="mark"><<= hill.mark >></span>
	
	<h4>Open runs</h4>
	<ol class="runs">
		<li class="green"><<= hill.runs.green.open >> / <<= hill.runs.green.total >></li>
		<li class="blue"><<= hill.runs.blue.open >> / <<= hill.runs.blue.total >></li>
		<li class="red"><<= hill.runs.red.open >> / <<= hill.runs.red.total >></li>
		<li class="black"><<= hill.runs.black.open >> / <<= hill.runs.black.total >></li>
	</ol>
</article>