<< if (!everyauth.loggedIn) { >>

<h2>Not Authenticated</h2>
<p>
  <a href='/users/register'>Register</a>
  <br>
  <a href='/users/login'>Login</a>
</p>

<< } else { >>

<h2>Authenticated</h2>


<< } >>
<footer>
</footer>
