<< if (!everyauth.loggedIn) { >>

<h2>Bienvenue !</h2>
<p>
  <a href='/users/register'>S'enregistrer</a>
  <br>
  <a href='/users/login'>Connexion</a>
  <br>
  Vous pouvez aussi jeter un oeil aux
  <a href='/hills'>stations</a>
  et partager votre point de vue !
</p>

<< } else { >>

<h2>Hey !</h2>
<p>
	Vous pouvez jeter un oeil aux
  <a href='/hills'>stations</a>
  et partager votre point de vue !
  <br>
</p>

<< } >>
<footer>
</footer>
