<!doctype html>  
<html lang="en-EN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	
		<title>Where to go skiing today? — JSnow!</title>
		<meta name="author" content="Matti Schneider-Ghibaudo">
		<meta name="author" content="Jérémy Gabriele">
	</head>
	
	<body>
		
		<%- body %>
		
	</body>
</html>