<!doctype html>  
<html lang="en-EN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		
		<link rel="stylesheet"  href="/stylesheets/jsnow.css" />
		<link rel="stylesheet"  href="/stylesheets/hill.css" />
		<link rel="stylesheet"  href="/stylesheets/comment.css" />
	
		<title>Where to go skiing today? — JSnow!</title>
		<meta name="author" content="Matti Schneider-Ghibaudo" />
		<meta name="author" content="Jérémy Gabriele" />
	</head>
	
	<body>
		
		<header>
			<h1 id="banner">JSn❄w!</h1>
			
			<div id="login">
				<< if (everyauth.loggedIn) {>>
					<<= user.firstName >> <<= user.lastName >>
					<<if (everyauth.user.skimaster=='on') {>>
						<a href="/hills/new">Ajouter une nouvelle station</a>
					<<}>>
					<a href='/logout'>Se déconnecter</a>
				<<} else {>>
					Vous n'êtes pas connecté… <a href='/users/login'>Connectez-vous</a>
					<a href='/users/register'>Inscrivez-vous</a>
				<<}>>			
			</div>
		</header>
		
		<div id="main" role="main">
			<<- messages() >>
			<<- body >>
		</div>
		
		<footer>
		</footer>

		<script src="/js/mootools-core-1.4.4.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			(function() {
				var socket = io.connect('/');	// connect to the server
				socket.on('hillUpdate', function(hillName) {	// listen to events
					new Request.HTML({
						url: '/hills/raw/' + hillName,	// request raw view of the updated hill
						update: hillName,	// we'll update the element with this ID
						filter: '.hill > *',	// avoid russian-dolling
						onSuccess: function() {
							$(hillName).highlight();
						}
					}).send();
				});
			})();
			
			window.addEvent('load', function() {
				var flash = $('messages');
				if (flash) {
					flash.highlight();
					flash.addClass.delay(2000, flash, 'hidden');	// animation is handled by CSS
				}
			});
		</script>
	</body>
</html>