<!doctype html>  
<html lang="en-EN">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="stylesheet"  href="/stylesheets/style.css" />
	
		<title>Where to go skiing today? — JSnow!</title>
		<meta name="author" content="Matti Schneider-Ghibaudo" />
		<meta name="author" content="Jérémy Gabriele" />
	</head>
	
	<body>
		
		<header>
			<h1 id="banner">JSnow!</h1>
		</header>
		
		<<- messages() >>
		
		<div id="main" role="main">
			<<- body >>
		</div>
		
		<footer>
		  << if (everyauth.loggedIn) {>>
		  <p>
				Vous êtes connecté en tant que <<= user.firstName >> <<= user.lastName >>.
				<a href='/logout'>Se déconnecter</a>.
			</p>
		  <<} else {>>
			<p>
				Vous n'êtes pas connecté... <a href='/users/login'>Connectez-vous</a> ou <a href='/users/register'>Inscrivez-vous</a> !
			</p>
			<<}>>
		</footer>

		<script src="/js/mootools-core-1.4.4.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			(function() {
				var socket = io.connect('/');
				socket.on('hillUpdate', function(hillName) {
					new Request.HTML({
						url: '/hills/raw/' + hillName,	// request raw view of the updated hill
						update: hillName	// we'll update the element with this ID
					}).send();
				});
			})();
		</script>
	</body>
</html>