/* Fonts */
@font-face {
	font-family: "fontName";
	src: url("path/to/font.ttf");
}


// Alphabetical sort of each category (TAG, ID, CLASS)
/* I like this way 
{
  // background / font style
  // specific stuff
  // padding/margin
  // width/height 
}
*/


/****** TAG ******/

[required]
{
	border-color: #88a;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 255, .5);
}

:invalid
{
	border-color: #e88;
	-webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
}

a
{
  color: lightblue;
}

a:hover
{
  color: lightgray;
  text-decoration: none;
}

body
{
  font: 14px "Lucida Grande", Helvetica, Arial, fontName, sans-serif;
  margin: 0;
  padding: 2em;
  width: 100%;
}

footer
{
	border-top: solid 1px black;	
}

ol
{
  list-style-type: asterisks;
}

/****** ID ******/

#banner
{
  font-size: 50px;
  margin: 0;
}

/****** CLASS ******/

.black
{
  color: #000;
}

.blue
{
  color: #add8e6;
}

.comment
{
  color: black;
}

.comment .content {
  color: gray;
  font-style: oblique;
}

.comment .mark
{
  
}

.error
{
	border: 1px dashed red;
	color: red;
	list-style-type: none;
	padding: 1em;
	width: 40%;
}

.info
{
	border: 1px dashed red;
	color: blue;
	list-style-type: none;
	padding: 1em;
	width: 40%;
}

.info_title
{
  text-decoration: underline;
}

.green
{
  color: lightgreen;
}

.hill
{
  text-decoration: none;
}

.hill_name
{
  border-bottom: 0.2em solid black;
  padding-bottom: 0.2em;
  width: 50%;
}

.mark
{
  font-weight: bold;
}

.red
{
  color: red;
}

.runs
{
  color: black;
}

.snow_type
{
  font-weight: bold;
}

.user_name
{
  
}
