
<h2>New hill</h2>
</p>
  <form action="/hills/new" method="post">
    <label for="name">Hill name</label>
    <input type="text" name="name" />
    <br />
    <label for="runs.green.total">Number of green runs</label>
    <input type="text" name="runs.green.total" />
    <br />
    <label for="runs.blue.total">Number of blue runs</label>
    <input type="text" name="runs.blue.total" />
    <br />
    <label for="runs.red.total">Number of red runs</label>
    <input type="text" name="runs.red.total" />
    <br />
    <label for="runs.black.total">Number of black runs</label>
    <input type="text" name="runs.black.total" />
    <br />
    <label for="lifts.total">Total lifts</label>
    <input type="text" name="lifts.total" />
    <br />
    <input type="submit" value="Create hill" />
  </form>
  
  <a href='/'>Go back home</a>
</p>