
<h2>New hill</h2>
</p>
  <form action="/hills/new" method="post">
    <label for="name">Hill name</label>
    <input type="text" name="name" />
    <br />
    <label for="greenRunsTotal">Number of green runs</label>
    <input type="text" name="greenRunsTotal" />
    <br />
    <label for="blueRunsTotal">Number of blue runs</label>
    <input type="text" name="blueRunsTotal" />
    <br />
    <label for="redRunsTotal">Number of red runs</label>
    <input type="text" name="redRunsTotal" />
    <br />
    <label for="blackRunsTotal">Number of black runs</label>
    <input type="text" name="blackRunsTotal" />
    <br />
    <label for="totalLifts">Total lifts</label>
    <input type="text" name="totalLifts" />
    <br />
    <input type="submit" value="Create hill" />
  </form>
  
  <a href='/'>Go back home</a>
</p>