
<h2>Ajouter une station</h2>
</p>
  <form action="/hills/new" method="post">
    <label for="name">Nom</label>
    <input type="text" name="name" required />
    <br />
    <label for="runs.green.total">Nombre total de pistes vertes</label>
    <input type="number" step="1" min="0" value="0" name="runs.green.total" />
    <br />
    <label for="runs.blue.total">Nombre total de pistes bleues</label>
    <input type="number" step="1" min="0" value="0" name="runs.blue.total" />
    <br />
    <label for="runs.red.total">Nombre total de pistes rouges</label>
    <input type="number" step="1" min="0" value="0" name="runs.red.total" />
    <br />
    <label for="runs.black.total">Nombre total de pistes noires</label>
    <input type="number" step="1" min="0" value="0" name="runs.black.total" />
    <br />
    <label for="lifts.total">Nombre total de remontées</label>
    <input type="number" step="1" min="0" value="0" name="lifts.total" />
    <br />
    <input type="submit" value="Ajouter" />
  </form>
  
  <a href='/'>Retour à l'accueil</a>
</p>