
<h2>Mettre à jour <<= hill.name >></h2>

</p>
  <form action="/hills/update/<<= hill.name >>" method="post">
    <label for="name">Nom</label>
    <input type="text" name="name" value="<<= hill.name >>"/>
    <br />
    <label for="runs.green.open">Nombre de pistes vertes ouvertes</label>
    <input type="number" step="1" min="0" max="<<= hill.runs.green.total >>" value="<<= hill.runs.green.open >>" name="runs.green.open" />
    <br />
    <label for="runs.blue.open">Nombre de pistes bleues ouvertes</label>
    <input type="number" step="1" min="0" max="<<= hill.runs.blue.total >>" value="<<= hill.runs.blue.open >>" name="runs.blue.open" />
    <br />
    <label for="runs.red.open">Nombre de pistes rouges ouvertes</label>
    <input type="number" step="1" min="0" max="<<= hill.runs.red.total >>" value="<<= hill.runs.red.open >>" name="runs.red.open" />
    <br />
    <label for="runs.black.open">Nombre de pistes noires ouvertes</label>
    <input type="number" step="1" min="0" max="<<= hill.runs.black.total >>" value="<<= hill.runs.black.open >>" name="runs.black.open" />
    <br />
    
    <label for="lifts.open">Nombre de remonte-piste ouverts</label>
    <input type="number" step="1" min="0" max="<<= hill.lifts.total >>" value="<<= hill.lifts.open >>" name="lifts.open" />
    <br />
    
    <label for="snowCover.top">Neige au sommet</label>
    <input type="number" step="0.1" min="0" value="<<= hill.snowCover.top >>" name="snowCover.top" />
    <br />
    <label for="snowCover.bottom">Neige au pied des pistes</label>
    <input type="number" step="0.1" min="0" value="<<= hill.snowCover.bottom >>" name="snowCover.bottom" />
    <br />
    <input type="submit" value="Mettre à jour" />
  </form>
  
  <a href='/'>Retour à l'accueil</a>
</p>